<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
  
</head>
<body>
    <form class="" action="/login" method="post" >
        <input type="text" mane="username" placeholder="UserName" autocomplete="off" >
        <input type="password" name="password" placeholder="Password" autocomplete="off" >
        <input type="submit" name="" value="login"  >
    </form>
</body>
</html>