<!DOCTYPE html>
<html>
<head>
    <title>trang chu</title>

</head>
<body>
    <p> wecome to my website</p>
    <a href="/login">
      <button type="button" name="button">login</button>
    </a>

</body>
</html>